
config ss_local
	option disabled '1'
	option server 'sss0'
	option local_address '0.0.0.0'
	option local_port '1080'
	option timeout '30'

config ss_tunnel
	option disabled '1'
	option server 'sss0'
	option local_address '0.0.0.0'
	option local_port '1090'
	option tunnel_address '1.1.1.1:53'
	option mode 'tcp_and_udp'
	option timeout '60'

config ss_redir 'hi'
	option disabled '1'
	option server 'sss0'
	option local_address '0.0.0.0'
	option local_port '1100'
	option mode 'tcp_and_udp'
	option timeout '60'
	option fast_open '1'
	option reuse_port '1'

config ss_redir 'hj'
	option disabled '1'
	option server 'sss0'
	option local_address '0.0.0.0'
	option local_port '1100'
	option mode 'tcp_and_udp'
	option timeout '60'
	option fast_open '1'
	option reuse_port '1'

config ss_rules 'ss_rules'
	option disabled '1'
	option src_default 'checkdst'
	option local_default 'checkdst'
	option dst_ips_bypass_file '/etc/shadowsocks-libev/chnroute.txt'
	option dst_default 'forward'
	list ifnames 'br-lan'

config server 'sss0'
	option disabled '1'
	option server '114.114.114.114'
	option server_port '9001'
	option password '********'
	option method 'aes-256-gcm'

config ss_server
	option disabled '1'
	option server_port '9001'
	option password '********'
	option method 'aes-256-gcm'
	option mode 'tcp_and_udp'

