
config acme
	option state_dir '/etc/acme'
	option account_email 'email@example.org'
	option debug '0'

config cert 'example'
	option update_nginx '0'
	option update_uhttpd '0'
	option keylength 'ec-384'
	option use_staging '0'
	list domains 'example.org'
	list domains '*.example.org'
	list credentials 'CF_Key="xxxxxxxxxxxxxxxxxxxx"'
	list credentials 'CF_Email="email@example.org"'
	option enabled '0'
	option dns 'dns_cf'

