
config minidlna 'config'
	option port '8200'
	option interface 'lan'
	option friendly_name 'OpenWrt DLNA Server'
	option db_dir '/mnt/sda/etc/minidlna'
	option log_dir '/var/log/minidlna'
	option inotify '1'
	option notify_interval '900'
	option serial '12345678'
	option model_number '1'
	option root_container '.'
	option uuid ''
	list media_dir '/mnt/sda'
	option album_art_names 'Cover.jpg/cover.jpg/AlbumArtSmall.jpg/albumartsmall.jpg/AlbumArt.jpg/albumart.jpg/Album.jpg/album.jpg/Folder.jpg/folder.jpg/Thumb.jpg/thumb.jpg'
	option enabled '0'

