
config nlbwmon
	option refresh_interval '30s'
	option database_directory '/var/lib/nlbwmon'
	option database_interval '1'
	option database_limit '10000'
	option protocol_database '/usr/share/nlbwmon/protocols'
	option database_generations '31'
	option commit_interval '60s'
	list local_network '192.168.0.0/16'
	list local_network '172.16.0.0/12'
	list local_network '10.0.0.0/8'
	list local_network 'lan'

